<!-- <div>
    {{project |json}}
</div> -->
<div class="card card-primary">
    <div class="card-header">
        <div class="row">
            <div class="col-11">
                <div>#{{project.projectID}}</div>
                <h5>{{project.projectName}}</h5>   
            </div>
            <div class="col-1">
                <ng-content></ng-content>
            </div>
        </div>
             
    </div>
    <div class="card-body">
        <table class="table table-borderless">
            <tr>
                <th>Date of Start</th>
                <td>{{project.dateOfStart}}</td>
            </tr>
            <tr>
                <th>Team Size</th>
                <td>{{project.teamSize}}</td>
            </tr>
            <tr>
                <th>Client Location</th>
                <td>{{project.clientLocation?.clientLocationName}}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{project.status}}</td>
            </tr>
        </table>
    </div>
    <div class="card-footer">
        <button class="btn btn-info" (click)="onEditClick($event,i)" 
        data-toggle="modal" data-target="#editModal">Edit</button>&nbsp;
        <button class="btn btn-warning" (click)="onDeleteClick($event,i)" 
        data-toggle="modal" data-target="#deleteModal">Delete</button>
        &nbsp;
        <a class="btn btn-primary" 
        [routerLink]="['/admin','projects','view', project.projectID]">Learn More</a>
    </div>
</div>


<!-- <thead>
    <th>Project ID</th>
    <th>Project Name</th>
    <th>Date of Start</th>
    <th>Team Size</th>
    <th>Client Location</th>
    <th>Status</th>
    <th>Actions</th>
</thead>
<tbody>
    <tr *ngFor="let project of projects; let i = index">
        <td>{{project.projectID}}</td>
        <td>{{project.projectName}}</td>
        <td>{{project.dateOfStart}}</td>
        <td>{{project.teamSize}}</td>
        <td>{{project.clientLocation.clientLocationName}}</td>
        <td>{{project.status}}</td>
        <td>
            <button class="btn btn-info" (click)="onEditClick($event,i)" 
            data-toggle="modal" data-target="#editModal">Edit</button>&nbsp;
            <button class="btn btn-warning" (click)="onDeleteClick($event,i)" 
            data-toggle="modal" data-target="#deleteModal">Delete</button>
        </td>
    </tr>                
</tbody> -->